In [14]:
import pandas as pd

In [15]:
v1 = [10, 20, 30, 40, 50]
k1 = ['a', 'b', 'c', 'd', 'e']
s1 = pd.Series(v1, index=k1)
print(s1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
v2 = [1, 2, ]
k2 = ['a', 'b']
s2 = pd.Series(v2, index=k2)
print(s2)

a    1
b    2
dtype: int64

In [17]:
print(s1 + s2)
print(s1 - s2)
print(s1 * s2)
print(s1 / s2)

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
dtype: float64
a     9.0
b    18.0
c     NaN
d     NaN
e     NaN
dtype: float64
a    10.0
b    40.0
c     NaN
d     NaN
e     NaN
dtype: float64
a    10.0
b    10.0
c     NaN
d     NaN
e     NaN
dtype: float64

In [18]:
#二维对象之间的运算
v1 = [[53,'男'],[64,'女'],[25,'女'],[44,'男']]
v2 = [1,2,3,6]
i1 = ['1号','2号','3号','4号']
c1 = ['年龄','性别']
i2 = ['1号','2号','3号','6号']
c2 = ['牌照']
df1 = pd.DataFrame(v1, index=i1, columns=c1)
df2 = pd.DataFrame(v2, index=i2, columns=c2)
print(df1)
print(df2)

    年龄 性别
1号  53  男
2号  64  女
3号  25  女
4号  44  男
    牌照
1号   1
2号   2
3号   3
6号   6

In [19]:
df1['加法'] = df1['年龄'] + df2['牌照']
print(df1)
df1['减法'] = df1['年龄'] - df2['牌照']
print(df1)
df1['乘法'] = df1['年龄'] * df2['牌照']
print(df1)
df1['除法'] = df1['年龄'] / df2['牌照']
print(df1)

    年龄 性别    加法
1号  53  男  54.0
2号  64  女  66.0
3号  25  女  28.0
4号  44  男   NaN
    年龄 性别    加法    减法
1号  53  男  54.0  52.0
2号  64  女  66.0  62.0
3号  25  女  28.0  22.0
4号  44  男   NaN   NaN
    年龄 性别    加法    减法     乘法
1号  53  男  54.0  52.0   53.0
2号  64  女  66.0  62.0  128.0
3号  25  女  28.0  22.0   75.0
4号  44  男   NaN   NaN    NaN
    年龄 性别    加法    减法     乘法         除法
1号  53  男  54.0  52.0   53.0  53.000000
2号  64  女  66.0  62.0  128.0  32.000000
3号  25  女  28.0  22.0   75.0   8.333333
4号  44  男   NaN   NaN    NaN        NaN

In [21]:
#也可以用numpy数学函数
import numpy as np
df1['年龄2'] = np.sqrt(df1['年龄'])
print(df1)
print(df1['年龄2'].values)

    年龄 性别    加法    减法     乘法         除法      年龄2
1号  53  男  54.0  52.0   53.0  53.000000  7.28011
2号  64  女  66.0  62.0  128.0  32.000000  8.00000
3号  25  女  28.0  22.0   75.0   8.333333  5.00000
4号  44  男   NaN   NaN    NaN        NaN  6.63325
[7.28010989 8.         5.         6.63324958]

In [23]:
#bool型数组
bool_array = df1['年龄'] > 30
print(bool_array)
print(np.sum(bool_array))

1号     True
2号     True
3号    False
4号     True
Name: 年龄, dtype: bool
3

In [25]:
#bool作为索引查找
print(df1[bool_array ==False])

    年龄 性别    加法    减法    乘法        除法  年龄2
3号  25  女  28.0  22.0  75.0  8.333333  5.0