In [9]:
import pandas as pd

5.2 剔除缺失值

In [10]:
v = [10,None,30,40]
k = ['1号','2号','3号','4号']
sr1 = pd.Series(v, index=k)
print(sr1)

1号    10.0
2号     NaN
3号    30.0
4号    40.0
dtype: float64

In [11]:
print(sr1.dropna())

1号    10.0
3号    30.0
4号    40.0
dtype: float64

In [12]:
#二维对象的缺失值
v = [[None,1],[64,None],[72,3],[82,4]]
i = ['1号','2号','3号','4号']
c = ['年龄','牌照']
df1 = pd.DataFrame(v, index=i, columns=c)
print(df1)

      年龄   牌照
1号   NaN  1.0
2号  64.0  NaN
3号  72.0  3.0
4号  82.0  4.0

In [13]:
df2 = df1.dropna() #默认删除行，axis=0
print(df2)
df3 = df1.dropna(axis=1) #删除列
print(df3) #empty DataFrame

      年龄   牌照
3号  72.0  3.0
4号  82.0  4.0
Empty DataFrame
Columns: []
Index: [1号, 2号, 3号, 4号]

In [14]:
#假设我们想剔除全是NaN的行或列，可以使用how参数，设置为'all'即可。
df1.iloc[0,1] = None
print(df1)
df4 = df1.dropna(how='all')
print(df4)

      年龄   牌照
1号   NaN  NaN
2号  64.0  NaN
3号  72.0  3.0
4号  82.0  4.0
      年龄   牌照
2号  64.0  NaN
3号  72.0  3.0
4号  82.0  4.0