In [2]:
import pandas as pd

5.3 填充缺失值

In [3]:
v = [10,None,30,40]
k = ['1号','2号','3号','4号']
sr1 = pd.Series(v, index=k)
print(sr1)

1号    10.0
2号     NaN
3号    30.0
4号    40.0
dtype: float64

In [8]:

print(sr1.fillna(0))
import numpy as np
print(sr1.fillna(np.mean(sr1)))
print(sr1.ffill())
print(sr1.bfill())

1号    10.0
2号     0.0
3号    30.0
4号    40.0
dtype: float64
1号    10.000000
2号    26.666667
3号    30.000000
4号    40.000000
dtype: float64
1号    10.0
2号    10.0
3号    30.0
4号    40.0
dtype: float64
1号    10.0
2号    30.0
3号    30.0
4号    40.0
dtype: float64

In [7]:

v = [[None,1],[64,None],[72,3],[82,4]]
i = ['1号','2号','3号','4号']
c = ['年龄','牌照']
df1 = pd.DataFrame(v, index=i, columns=c)
print(df1)

      年龄   牌照
1号   NaN  1.0
2号  64.0  NaN
3号  72.0  3.0
4号  82.0  4.0

In [11]:
print(df1.bfill())
print(df1.ffill())
print(df1.fillna(2))

      年龄   牌照
1号  64.0  1.0
2号  64.0  3.0
3号  72.0  3.0
4号  82.0  4.0
      年龄   牌照
1号   NaN  1.0
2号  64.0  1.0
3号  72.0  3.0
4号  82.0  4.0
      年龄   牌照
1号   2.0  1.0
2号  64.0  2.0
3号  72.0  3.0
4号  82.0  4.0